:root{
    --white:#f7f2ee;
    --black:#000000;
    --brown:#341d08;
}

body{
    height: 100vh;
    width: 100%;
    background: var(--white);
    font-family: 'Inter', sans-serif;
}
header {
    position: relative; /* Adicione esta linha */
    background-color: var(--brown);
    box-shadow: 0px 3px 10px var(--black);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    color: var(--white);
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{ 
    display: flex;
    justify-content: center;

}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    color: var(--white);
    font-size: 1.15rem;
    font-weight: 400px;
}

.auth-buttons button{
    background-color: var(--white);
    color: var(--black);
    padding: 10px 15px;
    border-radius: 8px;
    margin: 0 15px;
    cursor: pointer;
}

.auth-buttons button a{
    color: var(--black);
    font-weight: 600;
}
#cart-total{
    text-align: center;
    color: var(--white);
    background: red;
    padding: 6px;
    border-radius: 50%;
    font-size: 13px;
    font-style: normal;
    font-weight: bolder;
}

.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

.home{
    height: 100vh;
    width: 100%;
}
.home-content{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.home-title h1{
    font-size: 40px;
}
.home-products {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 30px;
    justify-items: center;
    align-items: center;
}
.prod-card{
    width: 80%;
    height: 100%;
    max-height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--black);
}
.prod-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.prod-img img{
    margin-top: 20px;
    border-radius: 10px;
    width: 90%;
    height: 90%;
}

.prod-title{
    font-weight: bolder;
    font-size: 18px;
}

.prod-actions{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.prod-btns{
    width: 60%;
}
.prod-btns button{
    background: var(--brown);
    color: var(--white);
    padding-block: 7px ;
    width: 45%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.prod-price{
    width: 40%;
    padding: 7px 12px;
    font-weight: bold;
    font-size: 23px;
}
.home{
    height: 100vh;
    width: 100%;
}
.home-content{
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.cart-head{
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 95%;
    height: 30%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--brown);
}
.continue-buy{
    color: var(--black);
    font-size: 20px;
}
.cart-items{
    width: 95%;
    margin-left: 2%;
}
.cart-items table {
    width: 100%;
    border-collapse: collapse;
}

.cart-items table th, .cart-items table td {
    text-align: center; 
    padding: 10px; 
    border: 1px solid var(--brown);
    width: 20%; 
}



.cart-items table th,
.cart-items table td {
    text-align: center; 
}

.cart-items-value{
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cart-items-value .checkout-btn{
    padding: 10px;
    font-size: 18px;
    background: var(--brown);
    color: var(--white);
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.cart-items-value .checkout-btn:hover{
    background-color: var(--black);
}
.cart-numbs{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.checkout-content{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.checkout-left{
    width: 40%;
    height: 45%;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 8px solid var(--brown);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--brown);
}

.checkout-left-infos1{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}
.checkout-left-infos1 input{
    width: 40%;
    border: 3px solid var(--brown);
    padding: 4px;
    border-radius: 8px;
}
.checkout-left-infos2{
    width: 100%;

}
.checkout-left-infos2 h3{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    padding-left: 30px;
}
.checkout-left-infos3{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}
.checkout-left-infos3 input{
    width: 40%;
    border: 3px solid var(--brown);
    padding: 4px;
    border-radius: 8px;
}

.checkout-left-infos4{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}
.checkout-left-infos4 input{
    width: 40%;
    border: 3px solid var(--brown);
    padding: 4px;
    border-radius: 8px;
}
.continue-btn{
    margin-top: 20px;
    width: 60%;
    border: 3px solid var(--brown);
    border-radius: 10px;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.continue-btn:hover{
    background: var(--brown);
    color: var(--white);
}

.checkout-right{
    width: 40%;
    min-height: 45%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: 8px solid var(--brown);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--brown);
}
.checkout-right-infos1{
    width: 100%;
    margin-bottom: 20px;

}
.checkout-right-infos1 h3,
.checkout-right-infos1 a{
    color: var(--black);
    margin-bottom: 10px;
}
.checkout-right-infos1 a{
    padding: 10px;
    background: var(--white);
    border: 1px solid var(--brown);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}
.checkout-right-infos1 a:hover{
    background: var(--brown);
    color: var(--white);
}
.checkout-right-infos2{
    width: 100%;
    font-size: 25px;

}
.checkout-right-infos2 hr{
    margin-bottom: 20px;
}
.checkout-right-infos3 {
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
    padding: 10px;
}

.checkout-right-infos3::-webkit-scrollbar {
    width: 10px;
  }
  
  .checkout-right-infos3::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 5px;
  }
  
  /* Personalização da barra de rolagem para navegadores Gecko (Firefox) */
  .checkout-right-infos3 {
    scrollbar-width: thin;
    scrollbar-color: var(--black); 
  }

.checkout-right-infos3 table {
    gap: 10px;
    width: 100%;
    border-collapse: collapse;


}

.checkout-right-infos3 td {
    flex: 1;
    text-align: center; 
    border: 1px solid var(--brown);
}
.checkout-right-infos4{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
.tablehead td{
    font-weight: bold;
}
/* Celulares */
@media(max-width:480px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .auth-buttons {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        cursor: pointer;
    }
    .mobile-menu-icon button i{
        font-size: 30px;
        color: var(--white);
    }
    .mobile-menu {
        display: none;
        position: absolute; 
        top: 100%;
        left: 0;
        background-color: var(--brown);
        width: 100%;
        z-index: 2; 
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .auth-buttons {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }
    .mobile-menu .auth-buttons button {
        width: 50%;
    }
    .open {
        display: block;
    }
}

/* Dispositivos pequenos */
@media(min-width:481px) and (max-width:767px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .auth-buttons {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        cursor: pointer;
    }
    .mobile-menu-icon button i{
        font-size: 30px;
        color: var(--white);
    }
    .mobile-menu {
        display: none;
        position: absolute; 
        top: 100%;
        left: 0;
        background-color: var(--brown);
        width: 100%;
        z-index: 2; 
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .auth-buttons {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }
    .mobile-menu .auth-buttons button {
        width: 50%;
    }
    .open {
        display: block;
    }
}

/* Tablets pequenos */
@media(min-width:768px) and (max-width:991px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .auth-buttons {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        cursor: pointer;
    }
    .mobile-menu-icon button i{
        font-size: 30px;
        color: var(--white);
    }
    .mobile-menu {
        display: none;
        position: absolute; 
        top: 100%;
        left: 0;
        background-color: var(--brown);
        width: 100%;
        z-index: 2; 
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .auth-buttons {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }
    .mobile-menu .auth-buttons button {
        width: 50%;
    }
    .open {
        display: block;
    }
}

/* Tablets grandes e Notebook */
@media(min-width:992px) and (max-width:1400px){

}

