:root{
    --white:#f7f2ee;
    --black:#000000;
    --brown:#341d08;
}

body{
    height: 100vh;
    width: 100%;
    background: var(--white);
    font-family: 'Inter', sans-serif;
}
header {
    position: relative; /* Adicione esta linha */
    background-color: var(--brown);
    box-shadow: 0px 3px 10px var(--black);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
.logo{
    display: flex;
    align-items: center;
}
.logo a{
    color: var(--white);
}
.logo h1{
    color: var(--white);
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{ 
    display: flex;
    justify-content: center;

}

.nav-item{
    margin: 0 15px;
}

.nav-link:after{
    content: '';
    background: none repeat scroll 0 0 transparent;
    bottom: -10px;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background-color: var(--white);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;

}
.nav-link:hover:after{
    width: 100%;
    left: 0;
}

.nav-link{
    color: var(--white);
    font-size: 1.15rem;
    font-weight: 400px;
    position: relative;
}
.auth-buttons{
    display: flex;
}

.auth-buttons button{
    background-color: var(--white);
    border: 3px solid transparent;

    color: var(--black);
    padding: 10px 15px;
    border-radius: 8px;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.auth-buttons button:hover{
    border: 3px solid var(--black);
    box-shadow: inset 1px 1px 8px var(--black);}
.auth-buttons h5{
    color: var(--white);
    font-size: 22px;
    padding: 10px 15px;
}

.auth-buttons button a{
    color: var(--black);
    font-weight: 600;
}
#cart-total{
    text-align: center;
    color: var(--white);
    background: red;
    padding: 6px 8px;
    border-radius: 50%;
    font-size: 13px;
    font-style: normal;
    font-weight: bolder;
}

.mobile-menu-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

.left-sidebar{
    min-width:230px;
    max-width:230px;
    position:absolute;
    background:#341d08;
    left:0;
    top:10%;
    border-right:1px solid #000000;
    margin-left:-230px;
    transition:all 0.3s;
    border-bottom-right-radius: 10px;
    z-index: 1;
  }
  .active{
    margin-left:0px;
  }
  
  .content-sidebar{
    height:90vh;
    overflow-y:auto;
  }
  .sidebar-title{
    padding:16px 20px 16px 20px;
    font-size:30px;
    color:#ffffff;
    text-align:center;
  }
  .menu-item{
    display:flex;
    justify-content:space-between;
    padding:16px 20px 16px 20px;
    color:#ffffff;
    border-bottom:1px solid #000000;
    transition:0.3s ease-in-out;
    font-size: 13px;
  }
  .first-item{
    font-weight: bold;
    font-size: 18px;
  }
  .menu-item:hover{
    background:#000000;
    opacity: 50%;
  }
  .menu-item::after{
    content:">";
    font-weight:bolder;
  }
  .btn-catego{
    position:absolute;
    background:#341d08;
    left:0;
    top:15%;
    transition:all 0.3s;
    color:#ffffff;
    cursor:pointer;
    padding:5px;
    display: flex;
    align-items:center;
    font-size: 10px;
    text-transform: uppercase;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .btn-catego:hover{
    border-top: 3px solid var(--white);
    border-right:3px solid var(--white);
    border-bottom:3px solid var(--white);
    box-shadow: 0 0 4px var(--black);
  }
  .btn-catego i{
    font-size: 25px;
  }
  .btn-catego.active{
    left:230px;
  }

.home{
    height: 100vh;
    width: 100%;
}
.home-content{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.home-title h1{
    font-size: 40px;
}
.home-products {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 30px;
    justify-items: center;
    align-items: center;
}
.prod-card{
    width: 80%;
    height: 100%;
    max-height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--black);
    border: 3px solid var(--brown);
    position: relative;
}
.favorite-btn{
    position: absolute;
    right: 0;
    top: 0;
    
    margin: 5px;
    font-size: 25px;
    border-radius: 50%;
    background: #341d08;
    color: var(--white);
}
.favorite-btn button{
    color: var(--white);
    padding: 6px 8px;
    cursor: pointer;
}
.prod-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.prod-img img{
    margin-top: 20px;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    max-height: 160px;
}

.prod-title{
    font-weight: bolder;
    font-size: 18px;
}

.prod-actions{
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
.prod-btns{
    width: 60%;
    
}

.prod-btns .seeprodbtn{
    background: var(--brown);
    color: var(--white);
    padding-block: 7px ;
    width: 45%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid transparent;
    box-shadow: 0 0 4px var(--black);
    transition: 0.3s ease-in-out;

}
.prod-btns .addcartbtn {
    background: var(--brown);
    color: var(--white);
    padding-block: 7px ;
    width: 30%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid transparent;
    transition: 0.3s ease-in-out;
}

.prod-btns button:hover{
    border: 2px solid var(--white);
    box-shadow: inset 0 0 4px var(--white);
    box-shadow: 0 0 4px var(--black);

}

.prod-price{
    width: 40%;
    padding: 7px 12px;
    font-weight: bold;
    font-size: 23px;
}
.home{
    height: 100vh;
    width: 100%;
}
.home-content{
    height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.cart-head{
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 2%;
    width: 95%;
    height: 30%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--brown);
}
.continue-buy{
    color: var(--black);
    font-size: 20px;
}
.cart-items{
    width: 95%;
    margin-left: 2%;
}
.cart-items table {
    width: 100%;
    border-collapse: collapse;
}


.cart-items table th, .cart-items table td {
    text-align: center; 
    padding: 10px; 
    border: 1px solid var(--brown);
    width: 20%; 
}
.cart-items table td img{
    max-height: 100px;
}



.cart-items table th,
.cart-items table td {
    text-align: center; 
}
.cart-items{
    max-height: 61vh;
    overflow-y: scroll;
}

.cart-items::-webkit-scrollbar {
    width: 10px;
  }
  
  .cart-items::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 5px;
  }
  
  /* Personalização da barra de rolagem para navegadores Gecko (Firefox) */
  .cart-items {
    scrollbar-width: thin;
    scrollbar-color: var(--black); 
  }

.quant-numb{
    display: flex;
    padding: 10px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.qnt-change{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.qnt-change i{
    cursor: pointer;
    padding: 5px;
    transition: 0.3s ease-in-out;
    font-size: 22px;
}
.qnt-change i:hover{
    opacity: 60%;
}


.cart-items-value{
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.cart-items-value .checkout-btn{
    padding: 13px;
    font-size: 18px;
    background: var(--brown);
    color: var(--white);
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-right: 30px;
    border: 3px solid transparent;

}
.cart-items-value .checkout-btn:hover{
    background-color: var(--black);
    border: 3px solid var(--white);
    box-shadow: 2px 2px 8px var(--black);
}
.checkout-btn-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
}
.checkout-btn-end{
    padding: 13px;
    font-size: 18px;
    background: var(--brown);
    color: var(--white);
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-bottom: 25px;
    border: 3px solid transparent;
}
.checkout-btn-end:hover{
    background-color: var(--black);
    border: 3px solid var(--white);
    box-shadow: 2px 2px 8px var(--black);
}
.cart-numbs{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.checkout-content{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.checkout-left{
    width: 80%;
    height: 75%;
    padding: 10px;
    border: 8px solid var(--brown);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--brown);
}
.checkout-left-all{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.payment-info{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 8px solid var(--brown);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--brown);
}
.payment-info button{
    padding: 8px;
    border-radius: 10px;
    border: 2px solid var(--brown);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.payment-info small{
    font-size: 20px;
    font-weight: bold;
}

.payment-info button:hover{
    background-color: var(--brown);
    border: 2px solid var(--black);
    color: var(--white);
}

.hidden{
    display: none;
}
.checkout-left form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
form .checkout-info{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form .checkout-info input{
    width: 60%;
    padding: 10px;
    border: 2px solid var(--brown);
    border-radius: 10px;
    margin-bottom: 7px;
}
form .checkout-shipping{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

form .checkout-shipping input{
    width: 60%;
    padding: 10px;
    border: 2px solid var(--brown);
    border-radius: 10px;
    margin-bottom: 7px;
}
form .checkout-shipping h3{
    margin-bottom: 10px;
}

.form-button{
    width: 60%;
    border: 3px solid var(--brown);
    border-radius: 10px;
    font-weight: bolder;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 3px solid var(--black);
}
.form-button:hover{
    background: var(--brown);
    color: var(--white);
    border: 3px solid var(--white);
    box-shadow: 2px 2px 8px var(--black);
}




.checkout-right{
    width: 40%;
    min-height: 45%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border: 8px solid var(--brown);
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--brown);
}
.checkout-right-infos1{
    width: 100%;
    margin-bottom: 20px;

}
.checkout-right-infos1 h3,
.checkout-right-infos1 a{
    color: var(--black);
    margin-bottom: 10px;
}
.checkout-right-infos1 a{
    padding: 10px;
    background: var(--white);
    border: 3px solid var(--brown);
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: 2px 2px 8px var(--black);
}
.checkout-right-infos1 a:hover{
    background: var(--brown);
    color: var(--white);
    border: 3px solid var(--white);
}
.checkout-right-infos2{
    width: 100%;
    font-size: 25px;

}
.checkout-right-infos2 hr{
    margin-bottom: 20px;
}
.checkout-right-infos3 {
    width: 100%;
    max-height: 50vh;
    overflow-y: scroll;
    padding: 10px;
}

.checkout-right-infos3::-webkit-scrollbar {
    width: 10px;
  }
  
  .checkout-right-infos3::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 5px;
  }
  
  /* Personalização da barra de rolagem para navegadores Gecko (Firefox) */
  .checkout-right-infos3 {
    scrollbar-width: thin;
    scrollbar-color: var(--black); 
  }

.checkout-right-infos3 table {
    gap: 10px;
    width: 100%;
    border-collapse: collapse;


}

.checkout-right-infos3 td {
    flex: 1;
    text-align: center; 
    border: 1px solid var(--brown);
}
.checkout-right-infos4{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.tablehead td{
    font-weight: bold;
}
.tablebody td img{
    max-height: 100px;
    max-width: 100px;
}

.pagination{
    width: 100%;
    text-align: center;
}

.step-links span{
    font-size: 19px;
}

.pagination-btn a{
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    background: var(--brown);
    color: var(--white);
    border: 2px solid transparent;
    box-shadow: 0 0 4px var(--black);
    transition: 0.3s ease-in-out;
}

.pagination-btn a:hover{
    box-shadow: inset 0 0 4px var(--white);
    box-shadow: 0 0 4px var(--black);
    border: 2px solid var(--white);

}

.login{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content{
    width: 25%;
    height: 45%;
    border: 5px solid var(--brown);
    border-radius: 13px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 8px var(--brown);


}
.forgot-pass{
    color: var(--black);
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
}
.noAccount{
    color: var(--black);
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
}
.login-content h2{
    font-size: 35px;
}

.login-content form{
    display: flex;
    flex-direction: column;
    width: 70%;
    
}
.login-content form button{
    margin-top: 30px;
    padding: 20px;
    border: 3px solid var(--brown);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.login-content form button:hover{
    background: var(--brown);
    border: 3px solid var(--white);
    box-shadow: 1px 2px 8px var(--black);
    color: var(--white);
    cursor: pointer;
}
.login-content .single-input{
    margin-top: 30px;
}
.login-content .single-input input{
    outline: none;
    border: none;
    
}
.login-content .single-input{
    position: relative;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--brown);
    transition: 0.3s ease-in-out;

}

.login-content .single-input label{
    position: absolute;
    top: -15px;
    left: -5px;
    padding: 5px;
    background: var(--white);
    font-size: 13px;
    border-radius: 10px;
    font-weight: bold;
}

.register{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-content{
    width: 25%;
    height: 65%;
    border: 5px solid var(--brown);
    border-radius: 13px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 8px var(--brown);


}
.haveAccount{
    color: var(--black);
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}
.register-content h2{
    font-size: 35px;
}
.register-content form{
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.register-content form button{
    margin-top: 30px;
    padding: 20px;
    border: 3px solid var(--brown);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.register-content form button:hover{
    background: var(--brown);
    border: 3px solid var(--white);
    box-shadow: 1px 2px 8px var(--black);
    color: var(--white);
    cursor: pointer;
}

.register-content .single-input{
    margin-top: 30px;
    width: 100%;
}
.register-content .single-input input{
    outline: none;
    border: none;
    
}
.register-content .single-input{
    position: relative;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--brown);
    transition: 0.3s ease-in-out;

}

.register-content .single-input label{
    position: absolute;
    top: -15px;
    left: -5px;
    padding: 5px;
    background: var(--white);
    font-size: 13px;
    border-radius: 10px;
    font-weight: bold;
}

.pedidos{
    height: 100vh;
    width: 100%;
}

.pedidos-content{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
.pedidos-content .pedidos-title{
    margin-bottom: 50px;
    font-size: 50px;
}
.pedido-button{
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

}
.pedidos-list{
    width: 60%;
    height: 10%;
    max-height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 3px solid var(--black);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.pedido-data{
    margin-right: 50px;
}
.pedidos-list img{
        max-width: 70px;
        padding: 2px;
    }
.pedido-link{
    padding: 10px;
    border-radius: 10px;
    color: var(--black);
    transition: 0.3s ease-in-out;
    text-align: center;
}
.pedido-link:hover{
    background: var(--brown);
    color: var(--white);
    box-shadow: inset 0 0  1px var(--white);

}

.pedidodetail{
    height: 100vh;
    width: 100%;
}
.pedidodetail-content{
    margin-top: 90px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.itens-tag{
    margin-block: 20px;
}
.pedidodetail-content img{
    max-height: 70px;
}
.pedidodetail-title{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    border: 3px solid var(--brown);
    border-radius: 10px;
}
.pedidodetail-content h1{
    font-size: 30px;
}
.item-do-pedido{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--brown);
    border-radius: 10px;
    height: 100px;
    margin-block: 10px;


}
.voltar-pedidos{
    color: var(--black);
    margin-bottom: 10px;
}
.nota-fiscal{
    padding: 10px;
    background: var(--brown);
    margin-block: 20px;
    color: var(--white);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.nota-fiscal:hover{
    background: var(--black);
    box-shadow: 2px 2px 8px var(--black);
}

.favoritos{
    width: 100%;
    height: 100vh;
}
.favoritos-content{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.favoritos-content img{
    max-height: 70px;
}
.favoritos-body{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.favorito-card{
    position: relative;
    width: 50%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--brown);
    border-radius: 10px;
}
.favorito-card h3{
    margin-left: 30px;
    font-size: 25px;
}
.favorito-card img{
    max-height: 70px;
    margin-right: 30px;
}
.favoritos-title{
    font-size: 40px;
    margin-bottom: 100px;
}

.pagination{
    width: 100%;
    text-align: center;
}

.step-links span{
    font-size: 19px;
}

.pagination-btn2{
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    background: var(--brown);
    color: var(--white);
    border: 2px solid transparent;
    box-shadow: 0 0 4px var(--black);
    transition: 0.3s ease-in-out;
}

.pagination-btn2:hover{
    box-shadow: inset 0 0 4px var(--white);
    box-shadow: 0 0 4px var(--black);
    border: 2px solid var(--white);

}

.produto-favorito-link{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.resetpass{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resetpass-content{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px solid var(--brown);
    border-radius: 10px;
}
.resetpass-title{
    display: flex;
    flex-direction: column;
    width: 60%;
    text-align: center;
}
.resetpass-title h1{
    font-size: 35px;
    margin-bottom: 30px;
}
.resetpass-title p{
    font-size: 18px;
    margin-bottom: 30px;
}
.resetpass-content form{
    display: flex;
    flex-direction: column;
}

.resetpass-content form .input-email input{
    border: 2px solid var(--brown);
    padding: 5px;
    border-radius: 10px;
}
.resetpass-content form .enviar-email{
    border: 2px solid var(--brown);
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.resetpass-content form .enviar-email:hover{
    border: 2px solid var(--white);
    background: var(--brown);
    color: var(--white);
    cursor: pointer;
}

.resetsent{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resetsent-content{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px solid var(--brown);
    border-radius: 10px;
    text-align: center;
}

.resetform{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resetform-content{
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 3px solid var(--brown);
    border-radius: 10px;
    text-align: center;
}
.resetform-content form span{
    font-size: 10px;
}
.resetform-content form label{
    margin-top: 20px;
}
.resetform-content form{
    display: flex;
    flex-direction: column;
}

.resetform-content form .confirma-senha{
    border: 2px solid var(--brown);
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.resetform-content form .confirma-senha:hover{
    border: 2px solid var(--white);
    background: var(--brown);
    color: var(--white);
    cursor: pointer;
}
.resetform-content form input:not(.confirma-senha)  {
    border: 2px solid var(--brown);
    padding: 5px;
    border-radius: 10px;
}

.producdetail{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.producdetail-content{
    width: 40%;
    height: 65%;
    border: 3px solid var(--brown);
    border-radius: 10px;
    display: flex;
}

/* Celulares */
@media(max-width:480px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .auth-buttons {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        cursor: pointer;
    }
    .mobile-menu-icon button i{
        font-size: 30px;
        color: var(--white);
    }
    .mobile-menu {
        display: none;
        position: absolute; 
        top: 100%;
        left: 0;
        background-color: var(--brown);
        width: 100%;
        z-index: 2; 
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .auth-buttons {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }
    .mobile-menu .auth-buttons button {
        width: 50%;
    }
    .open {
        display: block;
    }
}

/* Dispositivos pequenos */
@media(min-width:481px) and (max-width:767px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .auth-buttons {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        cursor: pointer;
    }
    .mobile-menu-icon button i{
        font-size: 30px;
        color: var(--white);
    }
    .mobile-menu {
        display: none;
        position: absolute; 
        top: 100%;
        left: 0;
        background-color: var(--brown);
        width: 100%;
        z-index: 2; 
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .auth-buttons {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }
    .mobile-menu .auth-buttons button {
        width: 50%;
    }
    .open {
        display: block;
    }
}

/* Tablets pequenos */
@media(min-width:768px) and (max-width:991px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .auth-buttons {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        cursor: pointer;
    }
    .mobile-menu-icon button i{
        font-size: 30px;
        color: var(--white);
    }
    .mobile-menu {
        display: none;
        position: absolute; 
        top: 100%;
        left: 0;
        background-color: var(--brown);
        width: 100%;
        z-index: 2; 
    }
    
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .auth-buttons {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
    }
    .mobile-menu .auth-buttons button {
        width: 50%;
    }
    .open {
        display: block;
    }
}

/* Tablets grandes e Notebook */
@media(min-width:992px) and (max-width:1400px){

}

