{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}Store</title>
    <link rel="stylesheet" href="{% static 'store/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'store/imgs/icon.png' %}">
    <script src="{% static 'store/js/cart.js' %}"></script>
    <script>
        var user = '{{request.user}}';
        function getToken(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === name + '=') {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        
        var csrftoken = getToken('csrftoken');

        function getCookie(name){
            var cookieArr = document.cookie.split(';');

            for (var i = 0 ; i < cookieArr.length; i++){
                var cookiePair = cookieArr[i].split('=');

                if (name == cookiePair[0].trim()){
                    return decodeURIComponent(cookiePair[1]);
                }

            }
            return null;
        }
        
        var cart = JSON.parse(getCookie('cart'))

        if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
    </script>

</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <H1>
                    <a href="{% url 'store:home' %}">
                        Pycommerce
                        <i class="devicon-python-plain"></i>
                    </a>
                </H1>
            </div>

            <div class="nav-list">
                <ul>

                    <li class="nav-item">
                        <a href="{% url 'store:home' %}" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'store:lista_pedidos' %}" class="nav-link">Pedidos</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">Favoritos
                            <i class="bi bi-star-fill"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'store:cart' %}" class="nav-link">
                            Carrinho
                            <i class="bi bi-cart4">
                                <span class="cart-total" id="cart-total">
                                    {{itemsCarrinho}}
                                </span>
                            </i>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="auth-buttons">

                {% if user.is_authenticated %}
                <h5>
                    <i class="bi bi-person"></i>
                    {{request.user.username}}
                </h5>

                <button>
                    <a href="{% url 'store:logout' %}">Sair</a>
                </button>

            {% else %}

                <button>
                    <a href="{% url 'store:custom_login' %}">Login</a>
                </button>
        
                <button>
                    <a href="{% url 'store:register' %}">Registre-se
                    </a>
                </button>

            {% endif %}
            </div>
            <div class="mobile-menu-icon">
                <button onclick="menuShow()">
                    <i class="bi bi-list icon"></i>
                    <i class="bi bi-x-lg" style="display:none;"></i>
                </button>
            </div>
            

            <div class="mobile-menu">
                <ul>

                    <li class="nav-item">
                        <a href="#" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Compras</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">Favoritos</a>
                    </li>

                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Carrinho
                            <i class="bi bi-cart4">
                                <span class="cart-total" id="cart-total">
                                    0
                                </span>
                            </i>
                        </a>
                    </li>

                </ul>

                <div class="auth-buttons">

                    {% if user.is_authenticated %}
    
                        <button>
                            <a href="#">Sair</a>
                        </button>
    
                    {% else %}
    
                        <button>
                            <a href="#">Login</a>
                        </button>
                
                        <button>
                            <a href="#">Registre-se
                            </a>
                        </button>
    
                    {% endif %}
                </div>
            </div>
            
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    <script>
        function menuShow() {
            let menuMobile = document.querySelector('.mobile-menu');
            let menuIcon = document.querySelector('.mobile-menu-icon .icon');
            let menuIconX = document.querySelector('.mobile-menu-icon .bi-x-lg');
            
            if (menuMobile.classList.contains('open')) {
                menuMobile.classList.remove('open');
                menuIcon.style.display = 'block';
                menuIconX.style.display = 'none';
            } else {
                menuMobile.classList.add('open');
                menuIcon.style.display = 'none';
                menuIconX.style.display = 'block';
            }
        }
        
        

        document.addEventListener("click", function (event) {
            const menuMobile = document.querySelector(".mobile-menu");
            const menuIcon = document.querySelector(".mobile-menu-icon button");
            
            // Verifica se o clique não ocorreu no menu ou no ícone do menu
            if (!menuMobile.contains(event.target) && !menuIcon.contains(event.target)) {
                // Fecha o menu
                menuMobile.classList.remove("open");
            }
        });

    </script>
</body>
</html>