{% extends "store/base.html" %}
{% load static %}
{% block title %}Cart - {% endblock title %}




{% block content %}

<section class="cart">
    <div class="cart-content">
        <div class="cart-head">
            <a href="#">
                <i class="bi bi-arrow-left-short"></i>
                Continuar comprando</a>
            <div class="cart-total">

                <div class="cart-numbs">
                    <h3>
                        Quantidade : 3
                    </h3>
                    <h3>
                        Total : R$ 292,00
                    </h3>
    
                </div>

                <button class="checkout-btn">
                    Checkout
                </button>
            </div>

        </div>
        <div class="cart-items">
            
        </div>

    </div>
</section>

{% endblock content %}