{% extends "store/base.html" %}
{% load static %}
{% block title %}Cart - {% endblock title %}




{% block content %}

<section class="cart">
    <div class="cart-content">
        <div class="cart-head">
            <a href="#">
                <i class="bi bi-arrow-left-short"></i>
                Continuar comprando</a>
            <div class="cart-total">

                <div class="cart-numbs">
                    <h3>
                        Quantidade : 3
                    </h3>
                    <h3>
                        Total : R$ 292,00
                    </h3>
    
                </div>

                <button class="checkout-btn">
                    Checkout
                </button>
            </div>

        </div>
        <div class="cart-items">
            <table>
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Item</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="{% static 'caminho_da_foto1.jpg' %}" alt="Item 1"></td>
                        <td>Nome do Item 1</td>
                        <td>R$ 50,00</td>
                        <td>2</td>
                        <td>R$ 100,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </div>
</section>

{% endblock content %}