{% extends "store/base.html" %}
{% load static %}
{% block title %}Cart - {% endblock title %}




{% block content %}

<section class="cart">
    <div class="cart-content">
        <div class="cart-head">
            <a href="{% url 'store:home' %}" class="continue-buy">
                <i class="bi bi-arrow-left-short"></i>
                Continuar comprando</a>
                <hr>
            <div class="cart-items-value">

                <div class="cart-numbs">
                    <h3>
                        Quantidade : {{pedido.get_cart_items}}

                    </h3>
                    <h3>
                        Total : R$ {{pedido.get_cart_total|floatformat:2}}
                    </h3>
    
                </div>

                <a href="{% url 'store:checkout' %}" class="checkout-btn">
                    Pagar
                </a>
            </div>
            
        </div>
        <div class="cart-items">
            <table>
                <thead>
                    <tr>
                        <th>Foto</th>
                        <th>Item</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody class="cart-body">
                    
                        {% for item in items %}
                        <tr>
                                {% if item.produto.foto.url %}

                                    <td><img src="{{item.produto.foto.url}}" alt="Item 1"></td>

                                {% else %}

                                    <td><img src="{% static 'caminho_da_foto1.jpg' %}" alt="Item 1"></td>

                                {% endif %}
                            
                            <td>{{item.produto.nome}}</td>
                            <td>{{item.produto.price|floatformat:2}}</td>
                            <td  class="quant">
                                <div class="quant-numb">
                                    {{item.quantidade}}
                                    <div class="qnt-change">
                                        <i class="bi bi-caret-up-fill qnt-up update-cart" data-action="add" data-product="{{item.produto.id}}"></i>
                                        <i class="bi bi-caret-down-fill qnt-down update-cart"  data-action="remove" data-product="{{item.produto.id}}"></i>
                                    </div>
                                </div>
                                
                                

                            </td>
                            <td>R$ {{item.get_total|floatformat:2}}</td>
                        </tr>
                        {% endfor %}
                    
                </tbody>
            </table>
            
            
        </div>
        <div class="checkout-btn-div">
            <a href="{% url 'store:checkout' %}" class="checkout-btn-end">
                Pagar
            </a>
        </div>
        

    </div>
</section>

{% endblock content %}