{% extends "store/base.html" %}
{% load static %}
{% block title %}Checkout - {% endblock title %}



{% block content %}

<section class="checkout">
    <div class="checkout-content">
        
        <div class="checkout-left-all">
            <div class="checkout-left" id='checkout-left'>
                <form id="form">
                    <div class="checkout-info" id="user-info">
                            <input required class="form-field" type="text" name="name" placeholder="Nome">
                            <input required class="form-field" type="email" name="email" placeholder="Email">
                    </div>
                    
                    <div class="checkout-shipping" id="shipping-info">
                        <h3> Informações de envio :</h3>
                            <input class="form-field" type="text" name="endereco" placeholder="Endereço">
                            <input class="form-field" type="text" name="cidade" placeholder="Cidade">
                            <input class="form-field" type="text" name="estado" placeholder="Estado">
                            <input class="form-field" type="text" name="cep" placeholder="CEP">
                            <input class="form-field" type="text" name="pais" placeholder="País">
                    </div>
    
                    <input id="form-button" class="form-button" type="submit" value="Continuar">
                </form>
                
            </div>
            <div class="payment-info hidden" id="payment-info">
                <small>Mercado pago</small>
                <button id="make-payment">Pagar</button>
                <div id="paypal-button-container"></div>
            </div>
        </div>

        <div class="checkout-right">
            <div class="checkout-right-infos1">
                <h3>
                    
                    <a href="{% url 'store:cart' %}">
                        <i class="bi bi-arrow-left-short"></i>
                        Voltar ao carrinho
                    </a>
                    
                </h3>
            </div>

            <div class="checkout-right-infos2">
                <hr>
                <h1>
                    Detalhes do pedido
                </h1>
            </div>

            <div class="checkout-right-infos3">
                <table>
                    <tr class="tablehead">

                        <td>
                            Produto
                        </td>
                        <td>
                            Nome
                        </td>
                        <td>
                            Preço unid.
                        </td>
                        <td>
                            Quantidade
                        </td>
                        <td>
                            Valor
                        </td>

                    </tr>
                    {% for item in items %}
                    <tr class="tablebody">
                        
                            {% if item.produto.foto.url %}

                                        <td><img src="{{item.produto.foto.url}}" alt="Item 1"></td>

                                    {% else %}

                                        <td><img src="{% static 'caminho_da_foto1.jpg' %}" alt="Item 1"></td>

                                    {% endif %}
                                    <td>{{item.produto.nome}}</td>
                                    <td>{{item.produto.price|floatformat:2}}</td>
                                    <td>{{item.quantidade}}</td>
                                    <td>R$ {{item.get_total|floatformat:2}}</td>
                        
                    </tr>
                    {% endfor %}
                </table>

            </div>

            <div class="checkout-right-infos4">
                <hr>
                Total : R$ {{pedido.get_cart_total|floatformat:2}}
            </div>
        </div>

    </div>
</section>
<script>
    var user = '{{request.user}}';
    function getToken(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === name + '=') {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    var csrftoken = getToken('csrftoken');



    var shipping = '{{pedido.shipping}}';
    var total = '{{pedido.get_cart_total}}'

    if (shipping == 'False') {
        var shippingInfo = document.getElementById('shipping-info');
        shippingInfo.innerHTML = 'No momento não é necessário preencher informações de envio !';
        shippingInfo.style.textAlign = 'center';
        shippingInfo.style.fontSize = '34px';

        
        var checkoutLeftForm = document.querySelector('.checkout-left form');
        if (checkoutLeftForm) {
            checkoutLeftForm.style.display = 'flex';
            checkoutLeftForm.style.justifyContent = 'space-evenly';
        }
    }

    var form = document.getElementById('form')
    form.addEventListener('submit', function(e){
        e.preventDefault()
        console.log('Form enviado')
        document.getElementById('form-button').classList.toggle('hidden');
        document.getElementById('payment-info').classList.toggle('hidden');

    
    })

    var paymentButton = document.getElementById('make-payment').addEventListener('click', function(e){
        submitFormData()
    })

    function submitFormData(){
        console.log('Botão de pagar clicado')
        var userFormData={
            'name':form.name.value,
            'email':form.email.value,
            'total':total,
        }
        var shippingFormData={
            'endereco':null,
            'cidade':null,
            'estado':null,
            'cep':null,
        }

        if (shipping != 'False'){
            shippingFormData.endereco = form.endereco.value
            shippingFormData.cidade = form.cidade.value
            shippingFormData.estado = form.estado.value
            shippingFormData.cep = form.cep.value
        }

        console.log(userFormData,shippingFormData)

        var url = '/processOrder/'

        fetch(url,{
                method:'POST',
                headers:{
                    'Content-Type':'aplication/json',
                    'X-CSRFToken':csrftoken,
                },
                body:JSON.stringify({'user':userFormData, 'shipping':shippingFormData}),

            }
        )
        .then((response) => response.json())
        .then((data) => {
            console.log('Transação sucedida', data);
            alert('Transação sucedida');
            window.location.href = "{% url 'store:home' %}"
        })
    }

    


</script>



{% endblock content %}