{% extends "store/base.html" %}
{% load static %}
{% block title %}Checkout - {% endblock title %}



{% block content %}

<section class="checkout">
    <div class="checkout-content">
        <div class="checkout-left">
            <div class="infos1">
                <input type="text" placeholder="Nome completo">
                <input type="text" placeholder="Email">
            </div>
            <div class="infos2">
                <hr>
                <h3>
                    Informações do endereço :
                </h3>
                <hr>
           </div>
           <div class="infos3">
            <input type="text" placeholder="Rua/Quadra/Número">
            <input type="text" placeholder="Cidade">
           </div>
           <div class="infos4">
            <input type="text" placeholder="Estado">
            <input type="text" placeholder="CEP">
           </div>
            <button>Continuar</button>
        </div>
        <div class="checkout-right">

        </div>
    </div>
</section>

{% endblock content %}