{% extends "store/base.html" %}
{% load static %}

{% block title %}Pedido {{pedido.id}} - {% endblock title %}
{% block content %}
<section class="pedidodetail">
    <div class="pedidodetail-content">
        <a href="{% url 'store:lista_pedidos' %}" class="voltar-pedidos">
            <i class="bi bi-arrow-left-short"></i>
            Voltar aos pedidos
        </a>
        <div class="pedidodetail-title">
            <h3>Id Pedido : {{pedido.id}}</h3>
            <h3>{{pedido.data_pedido}}</h3>


            <h3>Valor Total : R$ {{ pedido.get_cart_total|floatformat:2 }}</h3>
            <h3>Quantidade : {{ pedido.get_cart_items }}</h3>
        </div>
        <h1 class="itens-tag">Itens do pedido :</h1>
        {% for item in itens_do_pedido %}
                <div class="item-do-pedido">
                    <img src="{{ item.produto.foto.url }}" alt="{{ item.produto.nome }}">
                    <h3>{{ item.produto.nome }}</h3>
                    <p>Preço: R$ {{ item.produto.price }}</p>
                    <p>Quantidade: {{ item.quantidade }}</p>
                    <p>Total: R$ {{ item.get_total }}</p>
                </div>
        {% endfor %}
        <button class="nota-fiscal">Nota fiscal</button>

    </div>
</section>
{% endblock content %}