{% extends "store/base.html" %}
{% load static %}
{% block title %}Home - {% endblock title %}

{% block content %}

<section class="home">
    <div class="home-content">
        <div class="home-title">
            {% if request.user.is_authenticated %}
                <h1>Bem-vindo, {{ request.user.username }}</h1>
            {% else %}
                <h1>Bem-vindo, faça login ou registre-se</h1>
            {% endif %}
        </div>
        <div class="home-products">
            <div class="prod-card">
                <div class="prod-img">
                    <img src="{% static 'store/imgs/produto.jpg' %}" alt="">
                </div>
                <div class="prod-title">
                    Produto 
                </div>
                <div class="prod-actions">
                    <div class="prod-btns">
                        <button>
                            +Carrinho
                        </button>

                        <button>
                            Ver produto
                        </button>
                        
                    </div>
                    <div class="prod-price">
                        R$99,99
                    </div>
                </div>

            </div>

            <div class="prod-card">
                <div class="prod-img">
                    <img src="{% static 'store/imgs/produto.jpg' %}" alt="">
                </div>
                <div class="prod-title">
                    Produto 
                </div>
                <div class="prod-actions">
                    <div class="prod-btns">
                        <button>
                            +Carrinho
                        </button>

                        <button>
                            Ver produto
                        </button>
                        
                    </div>
                    <div class="prod-price">
                        R$99,99
                    </div>
                </div>

            </div>

            <div class="prod-card">
                <div class="prod-img">
                    <img src="{% static 'store/imgs/produto.jpg' %}" alt="">
                </div>
                <div class="prod-title">
                    Produto 
                </div>
                <div class="prod-actions">
                    <div class="prod-btns">
                        <button>
                            +Carrinho
                        </button>

                        <button>
                            Ver produto
                        </button>
                        
                    </div>
                    <div class="prod-price">
                        R$99,99
                    </div>
                </div>

            </div>

            <div class="prod-card">
                <div class="prod-img">
                    <img src="{% static 'store/imgs/produto.jpg' %}" alt="">
                </div>
                <div class="prod-title">
                    Produto 
                </div>
                <div class="prod-actions">
                    <div class="prod-btns">
                        <button>
                            +Carrinho
                        </button>

                        <button>
                            Ver produto
                        </button>
                        
                    </div>
                    <div class="prod-price">
                        R$99,99
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock content %}
