{% extends "store/base.html" %}
{% load static %}
{% block title %}Home - {% endblock title %}

{% block content %}

<section class="home">
    <div class="home-content">
        
    <button class="btn-catego" id="btn-catego">
        Categorias
        <i class="bi bi-caret-right-fill"></i>
        </button>
      <div class="left-sidebar" id="sidebar">
        <h3 class="sidebar-title">
          Categorias
        </h3>
        <div class="content-sidebar">
          <a href="#" class="menu-item">Categoria1</a>
          <a href="#" class="menu-item">Categoria1</a>
          <a href="#" class="menu-item">Categoria1</a>
          <a href="#" class="menu-item">Categoria1</a>
          <a href="#" class="menu-item">Categoria1</a>
          <a href="#" class="menu-item">Categoria1</a>
        </div>
      </div>
        <div class="home-title">
            {% if request.user.is_authenticated %}
                <h1>Bem-vindo, {{ request.user.username }}</h1>
            {% else %}
                <h1>Bem-vindo, faça login ou registre-se</h1>
            {% endif %}
        </div>
        <div class="home-products">
            {% for produto in produtos %}
            <div class="prod-card">
                <div class="prod-img">
                    {% if produto.foto %}
                        <img src="{{ produto.foto.url }}" alt="">
                    {% else %}
                        <img src="{% static 'store/imgs/produto.jpg' %}" alt="">
                    {% endif %}
                </div>
                
                <div class="prod-title">
                    {{ produto.nome }}
                </div>
                <div class="prod-actions">
                    <div class="prod-btns">
                        <button>
                            +Carrinho
                        </button>
        
                        <button>
                            Ver produto
                        </button>
                    </div>
                    <div class="prod-price">
                        R$ {{ produto.price|floatformat:2 }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
    <div class="pagination">
        <span class="step-links pagination-btn">
            {% if produtos.has_previous %}
                <a href="?page=1">&laquo; primeira</a>
                <a href="?page={{ produtos.previous_page_number }}">anterior</a>
            {% endif %}
            
            <span class="current-page">
                Página {{ produtos.number }} de {{ produtos.paginator.num_pages }}.
            </span>
            
            {% if produtos.has_next %}
                <a href="?page={{ produtos.next_page_number }}">próxima</a>
                <a href="?page={{ produtos.paginator.num_pages }}">última &raquo;</a>
            {% endif %}
        </span>
    </div>
    
</section>
<script>
    const sideBar = document.getElementById("sidebar");
    const menuBtn =  document.getElementById("btn-catego");

    menuBtn.onclick = function () {
    sidebar.classList.toggle("active");
    menuBtn.classList.toggle("active");
    };

</script>

{% endblock content %}
