{% extends "store/base.html" %}
{% load static %}

{% block title %}Meus Pedidos - {% endblock title %}
{% block content %}
<section class="pedidos">
    <div class="pedidos-content">
        <h1 class="pedidos-title">Meus Pedidos</h1>
            {% for pedido in pedidos_info %}
                <div class="pedidos-list">
                    <img src="{{pedido.foto_produto.url}}" alt="foto">
                    <a href="#" class="pedido-link">
                        <h1>Pedido # {{ pedido.pedido.id }}</h1>
                    
                    </a>
                    <h3>Valor Total : R$ {{ pedido.cart_total|floatformat:2 }}</h3>
                    <h3> Data : {{ pedido.pedido_data }}</h3>
                    <h3>Quantidade : {{ pedido.cart_items }}</h3>
                </div>
            {% empty %}
                <div class="pedidos-none">
                    <h1>
                        Você não tem pedidos.
                    </h1>
                </div>
            {% endfor %}
    </div>
</section>
{% endblock content %}