{% extends "store/base.html" %}
{% load static %}
{% block title %}Favoritos - {% endblock title %}

{% block content %}

<section class="favoritos">
        <div class="favoritos-content">
                <h1 class="favoritos-title">
                        Favoritos
                </h1>
                <div class="favoritos-body">
                        {% for favorito in object_list %}
                        <div class="favorito-card">
                                <a href="#" class="produto-favorito-link"></a>
                        
                                <h3>
                                        {{favorito.produto.nome}}
                                </h3>
                                
                                <img src="{{ favorito.produto.foto.url }}" alt="{{ item.produto.nome }}">
                        
                        </div>
                        {% empty %}
                                <h3>Sem favoritos</h3>
                        {% endfor %}
                </div>
                
                <div class="pagination">
                        <span class="step-links">
                            {% if object_list.has_previous %}
                                <a class="pagination-btn2" href="?page=1">&laquo; Primeira</a>
                                <a class="pagination-btn2" href="?page={{ object_list.previous_page_number }}">Anterior</a>
                            {% endif %}
            
                            <span class="current-page">
                                Pagina {{ object_list.number }} de {{ object_list.paginator.num_pages }}.
                            </span>
            
                            {% if object_list.has_next %}
                                <a class="pagination-btn2" href="?page={{ object_list.next_page_number }}">Próximo</a>
                                <a class="pagination-btn2" href="?page={{ object_list.paginator.num_pages }}">Última &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
        </div>

</section>
    
{% endblock %}