{% extends "store/base.html" %}
{% load static %}

{% block title %}Produto {{produto.id}}  - {% endblock title %}


{% block content %}
<section class="producdetail">
<div class="producdetail-content">
    <div class="produc-foto">
        <img src="{{ produto.foto.url }}" alt="{{ produto.nome }}">
    </div>
    <div class="produc-infos">
        <div class="infos-head">

            <h1>{{ produto.nome }}</h1>
            <h3>Categoria: {{ produto.categoria }}</h3>
        </div>
        <p class="price">R$ {{ produto.price }}</p>
        <div class="infos-btns">

            {% if produto.id in favoritos_ids %}
                            <button data-product-id="{{ produto.id }}" class="remove-favorito">
                                <i class="bi bi-star-fill"></i>
                            </button>
                        {% else %}
                            <button data-product-id="{{ produto.id }}" class="add-favorito">
                                <i class="bi bi-star"></i>
                            </button>
            {% endif %}
    
            <button data-product="{{produto.id}}" data-action="add" class="addcartbtn update-cart">
                <i class="bi bi-cart-plus-fill"></i>
            </button>
        </div>
    </div>
</div>
</section>


<script>

    $(document).ready(function() {

        function refreshPage() {
            location.reload();
        }
        // Delegação de evento de clique para elementos dentro de .producdetail
        $(".producdetail").on("click", ".add-favorito", function(event) {
            event.preventDefault();
            const productId = $(this).data("product-id");
    
            // Enviar solicitação AJAX para adicionar favorito
            $.ajax({
                type: "POST",
                url: "{% url 'store:add_favorito' %}",
                data: { produto_id: productId },
                success: function(response) {
                    // Atualizar a interface do usuário conforme necessário (por exemplo, trocar o ícone de estrela)
                    $(event.target).removeClass("add-favorito").addClass("remove-favorito");
                    refreshPage();
                },
                error: function(error) {
                    console.log("Erro ao adicionar favorito: " + error);
                }
            });
        });
    
        // Delegação de evento de clique para elementos dentro de .producdetail
        $(".producdetail").on("click", ".remove-favorito", function(event) {
            event.preventDefault();
            const productId = $(this).data("product-id");
    
            // Enviar solicitação AJAX para remover favorito
            $.ajax({
                type: "POST",
                url: "{% url 'store:remove_favorito' %}",
                data: { produto_id: productId },
                success: function(response) {
                    // Atualizar a interface do usuário conforme necessário (por exemplo, trocar o ícone de estrela)
                    $(event.target).removeClass("remove-favorito").addClass("add-favorito");
                    refreshPage();
                },
                error: function(error) {
                    console.log("Erro ao remover favorito: " + error);
                }
            });
        });
    });
    
</script>






{% endblock %}






