{% extends "store/base.html" %}
{% load static %}
{% block title %}Register - {% endblock title %}



{% block content %}
<div class="register">
    <div class="register-content">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            
            <div class="single-input">
                <label for="id_nome">
                    Nome
                </label>
                {{ form.nome }}
            </div>
            <div class="single-input">
                <label for="id_username">
                    Username
                </label>
                {{ form.username }}
            </div>

            <div class="single-input">
                <label for="id_email">Email</label>
                {{ form.email }}
            </div>

            <div class="single-input">
                <label for="id_password1">Senha</label>
                {{ form.password1 }}
            </div>

            <div class="single-input">
                <label for="id_password2">Confirmar senha</label>
                {{ form.password2 }}
            </div>

            <button type="submit">Register</button>
        </form>
    </div>
</div>

{% endblock content %}