{% load static %}
{% extends 'base.html' %}

{% block content %}
<section class="resetpass">

        <div class="resetpass-content">

        
            <div class="resetpass-title">
                    <h1>Bem-vindo à Página de Redefinição de Senha</h1>
                    <h3>
                    Esqueceu sua senha? Por favor, insira o endereço de e-mail que você usou para se registrar
                    conosco e nós enviaremos um link para redefinir sua senha
                    </h3>
            </div>
            <br/>

            <form action="" method="POST" class="">
                {% csrf_token %}
                    {{form}}
                <input type="submit" value="Send email" />
                <br>
            </form>

            <br/>
            <div class="">
                <a href="{% url 'home' %}">Return to home page</a>
            </div>
            
        </div>

</section>

{% endblock%}