{% extends "store/base.html" %}
{% load static %}
{% block title %}Resetar senha - {% endblock title %}

{% block content %}
<section class="resetset">

    <div class="resetset-content">

        <div class="" style="">
            <h1>Password reset sent</h1> 
            <h5>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</h5><br>
            <h6>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</h6>
         </div>
        
         <div class="">
           <a href="{% url 'store:home' %}">Return to home page</a>
         </div>

    </div>
    
</section>


 {% endblock%}