{% extends "store/base.html" %}
{% load static %}
{% block title %}Resetar senha - {% endblock title %}

{% block content %}
<section class="resetform">

    <div class="resetform-content">

      <div class="">
        <h1>Formulário para resetar senha</h1>
        <h6>
          Por favor forneça sua nova senha
        </h6>
      </div>
      <br />
      <form action="" method="POST">
        {% csrf_token %} 
        {{form}}
        <input class="confirma-senha" type="submit" value="Reset Password"/>
      </form>

    </div>
    
</section>


 {% endblock%}