{% extends "store/base.html" %}
{% load static %}
{% block title %}Resetar senha - {% endblock title %}

{% block content %}
<section class="resetsent">
  
  <div class="resetsent-content">
    <div class="" style="">
        <h1>Email de redefinição de senha enviado</h1>
        <h5>Enviamos instruções por email para definir sua senha, caso uma conta exista com o email que você inseriu. Você deverá recebê-las em breve.</h5><br>
        <h6>Se você não receber um email, por favor, verifique se inseriu o endereço com o qual se registrou e confira sua pasta de spam.</h6>
    </div>

    <div class="">
        <a href="{% url 'store:home' %}">Voltar para a página inicial</a>
    </div>
</div>

</section>


 {% endblock%}