{% extends "store/base.html" %}
{% load static %}
{% block title %}Resetar senha - {% endblock title %}

{% block content %}
<section class="resetpass">

        <div class="resetpass-content">

        
            <div class="resetpass-title">
                    <h1>Redefinição de Senha</h1>
                    <p>
                    Esqueceu sua senha?
                    <br>Por favor, insira o endereço de e-mail que você usou para se registrar
                    conosco e nós enviaremos um link para redefinir sua senha
                    </p>
            </div>
            <br/>

            <form action="" method="POST" class="">
                {% csrf_token %}
                <div class="input-email">
                    {{form}}
                </div>
                    
                <input type="submit" value="Enviar email" class="enviar-email"/>
                <br>
            </form>

            <br/>
            <div class="">
                <a href="{% url 'store:home' %}">Return to home page</a>
            </div>
            
        </div>

</section>

{% endblock%}